<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO｜Your Event Booking</title>
  <!-- FAVICON -->
  <link rel="shortcut icon" href="../assets/images/logo.png">
  <!-- OGP -->
  <meta property="og:title" content="7TAO｜Your Event Booking" />
  <meta property="og:description" content="想第一時間獲得新奇有趣的活動資訊？快來 7TAO 活動訂票網" />
  <meta property="og:url" content="https://annchoucode.github.io/Event-Booking-7TAO/ " />
  <meta property="og:image"
    content="https://raw.githubusercontent.com/AnnChouCode/Event-Booking-7TAO/main/assets/images/event/13.jpg" />
  <meta property="og:site_name" content="7TAO｜Your Event Booking" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="7TAO｜Your Event Booking" />
  <meta name="twitter:description" content="想第一時間獲得新奇有趣的活動資訊？快來 7TAO 活動訂票網" />
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/AnnChouCode/Event-Booking-7TAO/main/assets/images/event/13.jpg" />
  <!-- IOS ICON -->
  <link href="../assets/images/logo.png" rel="apple-touch-icon" />
  <!-- SWIPER JS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>