<nav class="position-relative mb-32 nav border-primary border-bottom border-md-3 border-2">
    <div class="d-flex justify-content-between align-items-center py-md-24 py-12 container">
        <div class="d-flex align-items-center ">
            <!-- logo -->
            <h1 class="logo me-sm-16 me-24"><a href="index.html">7TAO 活動訂票網</a></h1>
            <a class="d-lg-flex d-none align-items-center me-48" href="index.html">
                <p class="ff-yeseva me-4 fs-32">7TAO</p>
                <span class="ff-serif">活動訂票網</span>
            </a>
            <!-- search event -->
            <div class="input-group">
                <input type="text" class="px-md-24 px-12 fs-16 form-control" placeholder="探索活動" aria-label="探索活動" aria-describedby="button-addon2">
                <button class="d-flex align-items-center justify-content-center p-16 btn btn-primary" type="submit" id="button-addon2">
                    <i class="icofont-search-1"></i>
                </button>
              </div>
        </div>
        <!-- menu -->
        <ul class="d-md-flex d-none gap-24 list-unstyled">
            <li><a class="fs-18 ff-yeseva" href="#"><i class="me-4 icofont-ui-file"></i>REGISTER</a></li>
            <li><a class="fs-18 ff-yeseva" href="login.html"><i class="me-4 icofont-ui-user"></i>LOGIN</a></li>
        </ul>
        <!-- collapse menu -->
        <div class="d-md-none d-block btn-menu">
            <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="icofont-navigation-menu"></i>
            </a>
        </div>
    </div>  
    <!-- MENU COLLAPSE -->
    <div class="position-absolute d-md-none btn-menu-collapse collapse z-2 " id="collapseExample">
        <ul class="d-flex flex-column gap-18 py-24 px-12 list-unstyled border-primary border-top border-bottom border-2">
          <li>
            <a class="fs-18 ff-yeseva" href="#"><i class="me-4 icofont-ui-file"></i>REGISTER</a>
          </li>
          <li>
            <a class="fs-18 ff-yeseva" href="login.html"><i class="me-4 icofont-ui-user"></i>LOGIN</a>
          </li>
        </ul>
      </div>  
</nav>