<nav class="nav border-primary border-bottom border-md-3 border-2 mb-32">
    <div class="container py-md-24 py-12 d-flex justify-content-between align-items-center ">
        <div class="d-flex align-items-center ">
            <!-- logo -->
            <h1 class="logo me-sm-16 me-24"><a href="index.html">7TAO 活動訂票網</a></h1>
            <a class="d-flex align-items-center me-48 d-lg-flex d-none" href="index.html">
                <p class="ff-yeseva me-4 fs-32">7TAO</p>
                <span class="ff-serif">活動訂票網</span>
            </a>
            <!-- search event -->
            <div class="input-group">
                <input type="text" class="fs-16 form-control px-md-24 px-12" placeholder="探索活動" aria-label="探索活動" aria-describedby="button-addon2">
                <button class="p-16 d-flex align-items-center justify-content-center btn btn-primary" type="submit" id="button-addon2">
                    <i class="icofont-search-1"></i>
                </button>
              </div>
        </div>
        <!-- menu -->
        <ul class="d-md-flex d-none gap-24 list-unstyled">
            <li><a class="fs-18 ff-yeseva" href="#"><i class="me-4 icofont-ui-file"></i>REGISTER</a></li>
            <li><a class="fs-18 ff-yeseva" href="login.html"><i class="me-4 icofont-ui-user"></i>LOGIN</a></li>
        </ul>
        <!-- collapse menu -->
        <div class="d-md-none d-block btn-menu">
            <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="icofont-navigation-menu"></i>
            </a>
        </div>
    </div>    
</nav>