.btn-menu{
    &:hover a{
        color:$secondary;
    }

    &-collapse{
        top:100%;
        left:0;
        background-color: #F3F1E5;
        width: 100%;

        &:hover{
            color:$hover-color;
          }
    }
}