// HEADER
.header {
  &-banner {
    height: 350px;

    @include media-breakpoint-up(md) {
      height: 518px;
    }
    
  }

  &-catalog {
    border: 2px solid $primary;
    height: 112px;

    &:hover {
      h2 {
        color: $tertiary;
      }

      img {
        filter: invert(54%) sepia(10%) saturate(2615%) hue-rotate(313deg) brightness(86%) contrast(85%);
      }
    }

    @include media-breakpoint-up(sm) {
      height: 196px;
    }

    img {
      width: 40px;
      height: 40px;

      @include media-breakpoint-up(md) {
        width: 80px;
        height: 80px;
      }
    }
  }

  &-catalog-more {
    height: 112px;

    &:hover p {
      color: $tertiary !important;
    }

    @include media-breakpoint-up(sm) {
      height: 196px;
    }
  }
}

.banner-swiper-hover {
  color: rgba(255, 255, 255, 0.3);
  transition:color 0.2s;

  &:hover{
    color:white;
  }
}

// RECENT
.recent-img {
  height: 210px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 255px;
  }
}

// ONLINE
.online {
  &-img {
    height: 158px;
    object-position: center 33%;

    @include media-breakpoint-up(md) {
      height: 317px;      
    }
  }
}

// ALBUMS
.albums {
  &-tag {
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  &-photo {
    background-position: center;
    background-size: cover;
  }

  &-img1 {
    background-image: url(../images/album/01.jpg);
  }

  &-img2 {
    background-image: url(../images/album/02.jpg);
  }

  &-img3 {
    background-image: url(../images/album/03.jpg);
  }

  &-img4 {
    background-image: url(../images/album/04.jpg);
  }
}

.rotate-2{
  transform: rotate(2deg);  
}

.rotate-m2{
  transform: rotate(-2deg);
}

.custom-border-md-start{
  border-top:2px solid $primary;
  border-right:2px solid $primary;
  border-left: 2px solid $primary;

  @include media-breakpoint-up(md) { 
      border-left: 0;
     }
}